[user]
	email = {{ .email }}
	name = Omair-Inam Abdul-Matin
[pull]
	rebase = true
[core]
	editor = nano
[merge]
	tool = bc
[diff]
	tool = bc
[difftool "bc"]
	trustExitCode = true
[mergetool "bc"]
	trustExitCode = true
[init]
	defaultBranch = main
[safe]
	directory = *
[push]
	autoSetupRemote = true
