#!/bin/bash

set -eufo pipefail

# Update dock icon size
defaults write com.apple.dock tilesize -int 48

# This script changes the macOS system preference for the scroll direction.
# It sets the "Natural" scrolling direction to false, which means that the scroll direction will be reversed.
# This is equivalent to unchecking the "Scroll direction: Natural" option in System Preferences > Trackpad.
defaults write NSGlobalDomain com.apple.swipescrolldirection -bool false

{{ if .work_device }}

# Ensure XProtect is running and updated
sudo /usr/sbin/softwareupdate --background-critical

# Enable automatic macOS updates
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate AutomaticCheckEnabled -bool true
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate AutomaticDownload -bool true
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate CriticalUpdateInstall -bool true
sudo defaults write /Library/Preferences/com.apple.commerce AutoUpdate -bool true

# Enable automatic macOS updates
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate AutomaticallyInstallMacOSUpdates -bool true

{{ end }}

# Restart the Dock to apply changes
killall Dock

# Restart the Finder to apply changes
killall Finder

# Restart the SystemUIServer to apply changes
killall SystemUIServer