{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

taps=(
	omair-inam/tap
)

{{ $brews := list	
	"act"
	"age"
	"asciinema"
	"asdf"
	"bat"
	"docker"
	"eza"
	"ffmpeg"
	"fzf"
	"gh"
	"jq"
	"mas"
	"nvm"
	"pipx"
	"pyenv"
 	"tealdeer"
	"tree"
	"wget"
	"yarn"
	"zsh-syntax-highlighting"
	"zoxide" -}}

{{ $casks := list
	"1password"
	"1password-cli"
	"battery"
	"beyond-compare-4"
	"chatgpt"
	"cleanshot"
	"craft"
	"forklift3"
	"google-cloud-sdk"
	"intellij-idea"
	"iterm2"
	"logi-options+"
	"microsoft-remote-desktop"
	"onedrive"
	"orbstack"
	"pycharm"
	"raycast"
	"rectangle-pro"
	"slack"
	"tableplus"
	"thingsmacsandboxhelper"
	"tower"
	"via"
	"visual-studio-code"
	"zoom"
-}}

{{ if .personal_device}}
{{
	$casks = concat $casks
	( list
		"discord"
		"insomnia2023"
		"signal"
		"steam"
		"whatsapp"
	)	 	
-}}
{{ end }}

{{ if .work_device }}
{{
	$brews = concat $brews 
	( list
		"docker"
		"TomAnthony/brews/itermocil"
	)
-}}
{{
	$casks = concat $casks
	( list
		"clickup"
		"figma"
		"meetingbar"
		"stats"
	)
-}}
{{ end }}

# Install taps
for tap in "${taps[@]}"; do
    brew tap "$tap"
done

brew bundle --no-lock --file=/dev/stdin << EOF
mas "Things 3", id: 904280696
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
mas "Yubico Authenticator", id: 1497506650

EOF
{{ end }}