#!/bin/bash
{{ if .work_device }}
set -eufo pipefail

# Add Homebrew to PATH for the current session (required on Apple Silicon)
if [[ -f /opt/homebrew/bin/brew ]]; then
  eval "$(/opt/homebrew/bin/brew shellenv)"
fi

# add Java plugin
asdf plugin add java

# install JDK 21
asdf install java adoptopenjdk-21.0.5+11.0.LTS
asdf install java temurin-24.0.2+12

{{ end }}
