{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

taps=(
	omair-inam/tap
)

{{ $brews := list	
	"act"
	"age"
	"allure"
	"asciinema"
	"asdf"
	"azure-cli"
	"bash"
	"bat"
	"chezmoi"
	"cloud-sql-proxy"
	"craft-to-logseq"
	"csvlens"
	"derailed/k9s/k9s"
	"docker"
	"dust"
	"eza"
	"ffmpeg"
	"fzf"
	"gh"
	"git-filter-repo"
	"go"
	"helm"
	"hey"
	"itermocil"
	"jbang"
	"jq"
	"kubectx"
	"kubelogin"
	"kubernetes-cli"
	"kubespy"
	"lnav"
	"mas"
	"maven"
	"mike-engel/jwt-cli/jwt-cli"
	"moar"
	"nmap"
	"nvm"
	"pipx"
	"postgresql@14"
	"pyenv"
	"python@3.13"
	"remotemobprogramming/brew/mob"
	"ripgrep"
	"ripgrep-all"
	"tealdeer"
	"temporal"
	"tree"
	"wget"
	"xclip"
	"yarn"
	"yq"
	"zoxide"
	"zsh-syntax-highlighting" -}}

{{ $casks := list
	"1password"
	"1password-cli"
	"arc"
	"battery"
	"beyond-compare"
	"brave-browser"
	"chatgpt"
	"claude"
	"cleanshot"
	"clickup"
	"craft"
	"cursor"
	"figma"
	"forklift3"
	"ghostty"
	"google-chrome"
	"google-cloud-sdk"
	"hyperkey"
	"insomnia"
	"intellij-idea"
	"iterm2"
	"logi-options+"
	"logseq"
	"macwhisper"
	"meetingbar"
	"microsoft-remote-desktop"
	"ollama"
	"onedrive"
	"openlens"
	"orbstack"
	"pycharm"
	"raycast"
	"rectangle-pro"
	"slack"
	"stats"
	"tableplus"
	"thingsmacsandboxhelper"
	"tower"
	"via"
	"visual-studio-code"
	"zoom"
-}}

{{ if .personal_device}}
{{
	$casks = concat $casks
	( list
		"discord"
		"insomnia2023"
		"signal"
		"steam"
		"whatsapp"
	)	 	
-}}
{{ end }}

{{ if .work_device }}
{{
	$brews = concat $brews 
	( list
		"docker"
		"TomAnthony/brews/itermocil"
	)
-}}
{{
	$casks = concat $casks
	( list
		"clickup"
		"figma"
		"meetingbar"
		"stats"
	)
-}}
{{ end }}

# Install taps
for tap in "${taps[@]}"; do
    brew tap "$tap"
done

brew bundle --file=/dev/stdin << EOF
mas "Things 3", id: 904280696
{{ range ($brews | sortAlpha | uniq) -}}
brew "{{ . }}"
{{ end -}}
{{ range ($casks | sortAlpha | uniq) -}}
cask "{{ . }}"
{{ end -}}
mas "Yubico Authenticator", id: 1497506650

EOF
{{ end }}